{% extends "index.html" %}
{% block content %}
{% if pop is not none and text %}
  <h5>The popularity of '{{ text }}' is {{ pop }}</h5>
{% elif text %}
  <h5>No score computed. Text = {{ text }}</h5>
{% elif pop  is not none%}
  <h5>Only the score is available. Text = {{ text }}. Score = {{ pop }}</h5>
{% else %}
  <h5>Could not find data</h5>
{% endif %}
  <h5><a href="{{ url_for('init') }}">Search</a> for another phrase</h5>
<script>
  console.log("{{ pop }}")
  console.log("{{ text }}")
</script>
{% endblock %}
