{% extends "index.html" %}
{% block content %}
  <p>Type in the phrase and hit the button</p>
  <p>You will have to wait for a few minutes while we gather data and compute the score</p>
  <p>Meanwhile, you can go read about how the score in computed here</p>
  <form action="{{ url_for('calc')}}" method="post">
    <input type="text" name="text">
    <button type="submit" name="button">Calculate!</button>
  </form>
  {% if x and phrase %}
    <h5>The popularity of '{{ phrase }}' is {{ x }}</h5>
  {% endif %}
{% endblock %}
